@media only screen and (max-width:560px){
	#navigationMenu{margin:3% 4% 3% 0;display:inline-block;width:77%;text-align:center}
	#navigationMenu li{list-style:none;display:inline-block;height:40px;padding:2px;width:40px;position:center}
	#navigationMenu span{width:0;top:38px;padding:0;position:absolute;overflow:hidden;font-family:'Myriad Pro',Arial,Helvetica,sans-serif;font-size:18px;font-weight:bold;letter-spacing:.6px;white-space:nowrap;line-height:39px;-webkit-transition:.25s;-moz-transition:.25s;transition:.25s}
	#navigationMenu a{background:url('../img/navigation3.jpg') no-repeat;height:39px;width:38px;display:inline-block;position:relative}
	#navigationMenu a:hover span{width:auto;padding:0 20px;overflow:visible}
	#navigationMenu a:hover{text-decoration:none;-moz-box-shadow:0 0 5px #9ddff5;-webkit-box-shadow:0 0 5px #9ddff5;box-shadow:0 0 5px #9ddff5}
	#navigationMenu .backoffice{background-position:0 0}
	#navigationMenu .backoffice:hover{background-position:0 -30px}
	#navigationMenu .backoffice span{background-color:#7da315;color:#3d4f0c;text-shadow:1px 1px 0 #99bf31}
	#navigationMenu .mysteres{background-position:-38px 0}
	#navigationMenu .mysteres:hover{background-position:-38px -39px}
	#navigationMenu .mysteres span{background-color:#1e8bb4;color:#223a44;text-shadow:1px 1px 0 #44a8d0}
	#navigationMenu .illusions{background-position:-76px 0}
	#navigationMenu .illusions:hover{background-position:-76px -39px}
	#navigationMenu .illusions span{background-color:#c86c1f;color:#5a3517;text-shadow:1px 1px 0 #d28344}
	#navigationMenu .contact{background-position:-152px 0}
	#navigationMenu .contact:hover{background-position:-152px -39px}
	#navigationMenu .contact span{background-color:#af1e83;color:#460f35;text-shadow:1px 1px 0 #d244a6}